/target
cache*.dat
/algorithms
*.out
*.o
/sol
.vscode
target
nauty2_8_8
todo.md
build


# TeX
## article
*.log
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.pdf
!unistuttgart_logo.pdf
*.gz
*.run.xml
*.bcf
*.vtc

## presentation
*.nav
*.snm
*.toc

# sea-esa template
!cc-by.pdf
!orcid.pdf
!guideline.pdf
!lipics*.pdf